name: ci

on:
  push:
    branches:
      - main

  pull_request:
    types: [review_requested, ready_for_review]

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Ensure correct Rust toolchain version
      uses: dtolnay/rust-toolchain@stable
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --lib --verbose
